In [53]:
# Importing the Libraries 
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import pandas as pd

In [54]:
# Connecting the website

url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=16266'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url,headers = headers)

soup1 = BeautifulSoup(page.content,'html.parser')

soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

#Getting the title of the page "Funny Got Data MIS Data Systems Business Analyst T-Shirt"
title = soup2.find(id='productTitle').get_text() # Getting the text alone
#print(title)

ratings = soup2.find(id='acrPopover').get_text()
price = soup2.find(id='corePriceDisplay_desktop_feature_div').get_text()
price = price.strip()[0:6]
price = price.strip()[1:]

print(price)
#print(ratings)

16.99

In [55]:
title = title.strip()
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
16.99

In [56]:
# Getting today's date and time
today = datetime.date.today()
print(today)

2023-11-23

In [57]:
import csv  # importing csv to create a csv 
# Creating a list for the headers in the csv
headers = ['Product','Price','Date']

#Creating a list for the data in csv
data = [title,price,today]

#Creating a new csv file
with open('Amazondataset.csv','w',newline='',encoding='UTF8') as f:
    
    writer = csv.writer(f)
    writer.writerow(headers)
    writer.writerow(data)

In [58]:
df = pd.read_csv(r'C:\Users\jishn\Amazondataset.csv')

In [59]:
df

                                             Product  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23

In [63]:
# Appending more data to the csv
with open('Amazondataset.csv','a+',newline='',encoding='UTF8') as f:
    
    writer = csv.writer(f)
   # writer.writerow(headers) not adding headers as data alone is getting added
    writer.writerow(data)

In [64]:
df = pd.read_csv(r'C:\Users\jishn\Amazondataset.csv')

In [67]:
df

                                             Product  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23
4  Funny Got Data MIS Data Systems Business Analy...  16.99  2023-11-23

In [68]:
# Creating a function to automate the price check process every day
def check_price():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=16266'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url,headers = headers)

    soup1 = BeautifulSoup(page.content,'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(),'html.parser')

    #Getting the title of the page "Funny Got Data MIS Data Systems Business Analyst T-Shirt"
    title = soup2.find(id='productTitle').get_text() # Getting the text alone
    #print(title)

    #ratings = soup2.find(id='acrPopover').get_text()
    price = soup2.find(id='corePriceDisplay_desktop_feature_div').get_text()
    price = price.strip()[0:6]
    price = price.strip()[1:]
    
    # Getting today's date and time
    today = datetime.date.today()
    
    import csv  # importing csv to create a csv 
    # Creating a list for the headers in the csv
    headers = ['Product','Price','Date']

    #Creating a list for the data in csv
    data = [title,price,today]

           
        # Appending more data to the csv
    with open('Amazondataset.csv','a+',newline='',encoding='UTF8') as f:

        writer = csv.writer(f)
       # writer.writerow(headers) not adding headers as data alone is getting added
        writer.writerow(data)

In [ ]:
while(True):
    check_price() # Calling the function check_price
    time.sleep(86500)  # Time in seconds to automate everyday

In [ ]:
df = pd.read_csv(r'C:\Users\jishn\Amazondataset.csv')

In [ ]:
print(df)